<% if (user) { %>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark text-light">
    <div class="container-fluid">
      <a class="navbar-brand text-light" href="/">Main</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex" action="/search/" method="post">
          <input class="form-control me-2" type="text" placeholder="Search for a comic" aria-label="Search" name="comicSearch" id="comicSearch">
          <button class="btn btn-outline-success" type="submit">Busca!</button>
        </form>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-light" href="/about">Informacion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/comic/upload">Subir/Editar comic</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/comic/create">Crear Comic</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/search">Buscar Comic</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href=<%= `/user/settings/${user[0].id}` %>>Configuracion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light"" href="/logout">Cerrar sesion</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-light" href=<%= `/user/profile/${user[0].id}` %>>
              <%= user.username %>
            </a>
          </li>
          <li class="nav-item" style="max-height:50px; padding: 0">
            <a class="nav-link text-light" style="padding:0;" href=<%= `/user/profile/${user[0].id}` %>>
              <% if (user[0].role === 1) { %>
                  <img class="img-fluid" src="<%= `${user[0].profilePicPath}` %>"style="border-radius: 50%; height: 50px; width: 50px; padding: 2px border-color: purple; border-style: solid; border-width: 2px;" >
                <% } else {%>
                  <img class="img-fluid bg-light" src="<%= `${user[0].profilePicPath}` %>"style="border-radius: 50%; height: 50px; width: 50px; padding: 2px" >
                <% } %>
            </a>
          </li>
        </ul>
      </div>
    </div>
</nav>
<% } %>