<%- include ('../partials/head.ejs') %>
<h1>Create comic entry</h1>
<%- include ('../partials/message.ejs') %>
<% if (user) { %>
    <% console.log(user[0].dataValues.username); %>
    <h1>Hello <%= user[0].dataValues.username %> </h1>
    <%- include ('../partials/navLogged.ejs') %>
<% } else { %>
    <%- include ('../partials/navGuest.ejs') %>
<% } %>

<h3 class="bg-danger text-light">AVISO: si las imagenes no estan ordenadas en el formato "pag(numero).(extension)" no sera validad la subida</h3>


<form action="/comic/create" method="post" enctype="multipart/form-data" class="p-3 bg-dark text-light">

    <div class="form-group m-2">
        <label for="comicName">Nombre/Titulo</label>
        <input type="text" name="comicName" id="comicName" required>
    </div>

    <div class="form-group m-2">
        <label for="comicDescription">Descripción</label>
        <input type="text" name="comicDescription" id="comicDescription" required>
    </div>
    <div class="form-group m-2">
        <label for="CoverImage">Imagen de Portada</label>
        <input type="file" name="CoverImage" id="CoverImage" accept="image/*" required>
    </div>
    <div class="form-group m-2">
        <label for="comicStart">Fecha de Inicio</label>
        <input type="date" name="comicStart" id="comicStart">
    </div>
    <div class="form-group m-2">
        <label for="comicSchedule">Frecuencia de Publicación</label>
        <select  name="comicSchedule" id="comicSchedule">
            <option value="Terminado">Terminado</option>
            <option value="Semanal">Semanal</option>
            <option value="Bisemanal">Bisemanal</option>
            <option value="Trisemanal">Trisemanal</option>
            <option value="Mensual">Mensual</option>
            <option value="BiMensual">BiMensual</option>
            <option value="TriMensual">TriMensual</option>
        </select>
    </div>
    <div class="form-group m-2">
        <label for="comicStatus">Estado de publicacion</label>
        <select name="comicStatus" id="comicStatus">
            <option value="En-emision">En emision</option>
            <option value="Hiatus">Hiatus</option>
            <option value="Terminado">Terminado</option>
            <option value="Abandonado">Abandonado</option>
        </select>
    </div>
    <div class="form-group m-2">
        <label for="isWriter">El usuario es el autor del comic?</label>
        <input type="checkbox" name="isWriter" id="isWriter" checked>
    </div>
    <div class="form-group m-2">
        <label for="comicWriter">Autor Original</label>
        <input type="text" name="comicWriter" id="comicWriter" disabled>
    </div>

    <div class="form-group m-2">
        <label for="selectedCats">Categorias Seleccionadas</label>
        <input type="text" name="selectedCats" id="selectedCats">
    </div>

    <div id="categories-block"></div>
    <button type="button" id="addCat">Agregar Categoria</button>
    <button type="button" id="revCat">Remover Ultima Categoria</button>
    <button type="submit" id="register">Registrar</button>

</form>

<script>
    let check = document.getElementById('isWriter')
    let writer = document.getElementById('comicWriter')
    check.addEventListener('click', () => {
        if(!check.checked){
            writer.toggleAttribute('disabled')
            return
        }
        writer.toggleAttribute('disabled')
    })

    catAmount = 0;
    let cats = document.getElementById('categories-block')
    let addCat = document.getElementById('addCat')

    let catGroup = ["---","action","comedy","mistery","adventure","drama","horror","fantasy","romance","school life","slice of life","sci-fi","sports","mature","crime","psychological","martial arts"]

    let selCats = document.getElementById('selectedCats');
    selCats.value = ""
    selCats.toggleAttribute('readonly')
    let register = document.getElementById('register');

    cats.addEventListener('load',createCats())

    function createCats(){
        catAmount++;
        let catDiv = document.createElement('div');
        catDiv.classList.add('form-group');
        catDiv.classList.add('m-2');
        catDiv.setAttribute('id',`cat_`+catAmount);

        let catLabel = document.createElement('label');
        catLabel.setAttribute('for','cat'+catAmount);
        catLabel.textContent = "Category"+catAmount;

        let catSelect = document.createElement('select');
        catSelect.setAttribute('name','cat'+catAmount);
        catSelect.setAttribute('id','catSelect-'+catAmount);
        catSelect.toggleAttribute('required');

        cats.appendChild(catDiv);
        catDiv.appendChild(catLabel);
        catDiv.appendChild(catSelect)

        let counter = 1
        for(let i = 0; i < catGroup.length; i++){
            let catOption = document.createElement('option');
            if(catGroup[i]=== '---'){
                catOption.setAttribute('value',"");
                catOption.toggleAttribute('selected');
                catOption.toggleAttribute('disabled');
                catOption.toggleAttribute('hidden');
            }else{
                catOption.setAttribute('value',catGroup[i]);
            }
            catOption.textContent = catGroup[i].toUpperCase();
            catSelect.appendChild(catOption);
            counter++;
        }

        catSelect.addEventListener('change',()=>{
            let value = catSelect.options[catSelect.selectedIndex].value;
            if(value === "---") return
            if(selCats.value.includes(value))return
            selCats.value += ','+value;
            catSelect.toggleAttribute('disabled')
        })
    }

    addCat.addEventListener('click', () => {
        createCats();
    })

    revCat.addEventListener('click', () => {
        if(catAmount > 1){
            let removing = document.getElementById('cat_'+catAmount);
            let catSelect = document.getElementById('catSelect-'+catAmount);
            let valueOp = catSelect.options[catSelect.selectedIndex].value;
            console.log(valueOp);
            selCats.value = selCats.value.replace(","+valueOp," ")
            removing.remove();
            catAmount--;
        }else if (catAmount == 1){
            let select = document.getElementById('catSelect-1');
            select.toggleAttribute('disabled')
            selCats.value = "";
        }
    })

</script>

<%- include ('../partials/footer.ejs') %>