<%- include ('../partials/head.ejs') %>
<% if (user) { %>
    <h1>Hello <%= user.name %> </h1>
    <%- include ('../partials/navLogged.ejs') %>
<% } else { %>
    <%- include ('../partials/navGuest.ejs') %>
<% } %>
<h1>PERFIL DEL COMIC</h1>
<% if (comic) { %>
    <% let readUrl = `/read/${comic.id}/1/1` %>
    <h1><a href="<%= readUrl %> ">LEER</a></h1>
    <h2><%= comic.comicName %> </h2>
    <h2><%= comic.comicDescription %> </h2>
    <% console.log(comic.comicCoverPath); %>
    <img src="<%= comic.comicCoverPath %>" alt="">
    <div class="text-dark">
        <h3>Categorias</h3>
        <% for( let i = 0; i < categories.length; i++ ) { %>
          <p><%= categories[i] %> </p>
        <% } %>
    </div>

    <% if (isUploader) { %>
        <% console.log("es el que lo subio"); %>
        <a href=<%= `/comic/edit/${user.id}/${comic.id}` %> id="editComicLink">Editar comic</a>
        <a href=<%= `/comic/delete/${user.id}/${comic.id}` %> id="deleteComicLink">Eliminar comic</a>
    <% } %>

    <% if (chapters) { %>
        <div class="m-1 text-center bg-info">
            <% for( let i = 0; i < chapters.length; i++ ) { %>
                <a class="fs-3 text-dark" href=<%= `/read/${comic.id}/${chapters[i].chapterNumber}/1`  %> > capitulo <%= chapters[i].chapterNumber %> - <%= chapters[i].chapterTitle %></a>
                <br>
                <% if (isUploader) { %>
                    <a href=<%= `/comic/delete/${user.id}/${comic.id}/${chapters[i].chapterNumber}` %> id="deleteChapterLink">Eliminar capitulo</a>
                    <br>
                <% } %>
            <% } %>
        </div>
    <% } %>


<% } %>



<script>



</script>