<%- include ('../partials/head.ejs') %>
<%- include ('../partials/message.ejs') %>
<% if (user) { %>
    <%- include ('../partials/navLogged.ejs',{user:user}) %>
<% } else { %>
    <%- include ('../partials/navGuest.ejs') %>
<% } %>
<h1>PERFIL DEL COMIC</h1>
<% if (comic) { %>
    <div class="bg-secondary p-2">
        <% let readUrl = `/read/${comic.id}/1/1` %>
        <h1 class="bg-dark"><a href="<%= readUrl %> ">LEER</a></h1>
        <h2 class="bg-dark"><%= comic.comicName %> </h2>
        <h2 class="bg-dark"><%= comic.comicDescription %> </h2>
        <img src="<%= comic.comicCoverPath %>" alt="">
        <% console.log('writer :>> ', comic.comicWriter); %>
        <% console.log('uploader :>> ', uploaderData[0].username); %>
        <h2 class="bg-dark">Autor del comic <% if (comic.comicWriter === uploaderData[0].username) { %>
            <a class="text-warning" href=<%= `/user/profile/${uploaderData[0].id}` %>><%= comic.comicWriter %></a>
        <% } else {%>
            <%= comic.comicWriter %>
        <% } %></h2>
       <h2 class="bg-dark">
        Encargado del comic: <a class="text-warning" href=<%= `/user/profile/${uploaderData[0].id}` %>> <%= comic.comicWriter %></a>
       </h2>

        <div class="bg-dark p-1">
            <h3>Categorias</h3>
            <% for( let i = 0; i < categories.length; i++ ) { %>
              <p><%= categories[i] %> </p>
            <% } %>
        </div>


        <% if (user) { %>
            <form action=<%= `/comic/like/${comic.id}/${user.id}/${hasLiked}` %>  method="post">
                <button class="<% if (hasLiked) { %> btn-secondary <% } else { %> btn-danger <% } %> fs-5 px-2 py-2" type="submit">
                    Me gusta! (<%= likes %>)
                </button>
            </form>
        <% } else { %>
            <h3>Los me gusta solo estan disponibles al iniciar sesion</h3>
        <% } %>

        <% if (user) { %>
            <% if (isUploader) { %>
                <a href=<%= `/comic/edit/${user.id}/${comic.id}` %> id="editComicLink">Editar comic</a>
                <button id="deleteComic" class="btn-primary">Eliminar comic</button>

                <form action=<%= `/comic/delete/${comic.comicUploader_id}/${comic.id}` %> id="deleteForm" method="post" hidden>
                    <h3>多De verdad quiere borrar este comic?</h3>
                    <label for="confirmComicDelete">Confirmar con Contrase単a:</label><br>
                    <input type="password" name="confirmComicDelete" id="confirmComicDelete">
                    <button type="submit">Eliminar</button>
                </form>

            <% } %>
            <% if (user.role === 1 && !isUploader) { %>
                <form action=<%= `/comic/delete/${comic.comicUploader_id}/${comic.id}` %> id="deleteForm" method="post" hidden>
                    <h3>多De verdad quiere borrar este comic?</h3>
                    <label for="confirmComicDelete">Confirmar con Contrase単a:</label><br>
                    <input type="password" name="confirmComicDelete" id="confirmComicDelete">
                    <button type="submit">Eliminar</button>
                </form>
            <% } %>
        <% } %>

        <h2 class="text-center bg-secondary my-2">Capitulos</h2>
        <% if (chapters.length>0) { %>
            <div class="m-1 text-center bg-info">
                <% for( let i = 0; i < chapters.length; i++ ) { %>
                    <a class="fs-3 text-dark" href=<%= `/read/${comic.id}/${chapters[i].chapterNumber}/1`  %> > capitulo <%= chapters[i].chapterNumber %> - <%= chapters[i].chapterTitle %></a>
                    <br>
                    <% if (isUploader) { %>
                        <a href=<%= `/comic/delete/${user.id}/${comic.id}/${chapters[i].id}` %> id="deleteChapterLink">Eliminar capitulo</a>
                        <br>
                    <% } %>
                <% } %>
                <% if (isUploader) { %>
                    <a href=<%= `/comic/upload/${user.id}/${comic.comicName}` %> id="addChapterLink">Agregar capitulo</a>
                <% } %>
            </div>
        <% } else {%>
            <h3>No hay capitulos actualmente</h3>
            <br>
            <% if (isUploader) { %>
                <a href=<%= `/comic/upload/${user.id}/${comic.comicName}` %> id="addChapterLink">Agregar capitulo</a>
            <% } %>
        <% } %>
    </div>
<% } %>

<% if (user) { %>
    <% if (isUploader || user.role === 1) { %>
        <script>
            let deleteComic = document.getElementById('deleteComic');
            let deleteForm = document.getElementById('deleteForm');
            deleteComic.addEventListener('click',()=>{
                console.log('ola');
                deleteForm.toggleAttribute('hidden')
            })
        </script>
    <% } %>
<% } %>


<%- include ('../partials/footer.ejs') %>