<%- include ('../partials/head.ejs') %>
<%- include ('../partials/message.ejs') %>
<% if (user) { %>
    <h1>Hola <%= user.name %> </h1>
    <%- include ('../partials/navLogged.ejs') %>
<% } else { %>
    <%- include ('../partials/navGuest.ejs') %>
<% } %>

<section class='mainContainer container'>
    <div class='container'>

        <img src="<%= chapterPath+'/'+files[currentPage-1] %> " alt="Pagina uno" class='img-fluid d-block mx-auto'>
        <div class="d-flex">
            <% if (currentPage <= 1) { %>
                <a href=<%= nextPage %> class='nav-link disabled' aria-disabled='true'>Previa</a>
            <% } else {%>
                <a href=<%= prevPage %> class='nav-link'>Previa</a>
            <% } %>

            <% if (currentPage >= amountPages) { %>
                <a href=<%= nextPage %> class='nav-link disabled' aria-disabled='true'>Siguiente</a>
            <% } else {%>
                <a href=<%= nextPage %> class='nav-link'>Siguiente</a>
            <% } %>
        </div>

    </div>
</section>

<section class="'commentsContainer container my-2">
    <% if (user) { %>
        <form class="commentPost" action=<%= Url %> method="post">
            <label for="commentText">Escribe un commentario!</label>
            <br>
            <textarea class="commentText" name="commentText" id="commentText" cols="50" rows="3"></textarea>
            <button type="submit">Comentar</button>
        </form>
    <% } else {%>
        <a href="/login" class="my-2 p-1 bg-dark text-light">Inicia sesion para escribir un commentario</a>
    <% } %>

    <% if (comments) { %>
        <% for( let i = 0; i < comments.length; i++ ) { %>
            <div class="my-2 p-2 bg-dark text-light w-50">
                <h5><%= comments[i].username %> </h5>
                <p><%= comments[i].commentText %> </p>
                <div class="comment-options d-flex">
                    <% if (user && (comments[i].user_id === user.id)) { %>
                        <form action=<%= `/comic/deleteComment/${comments[i].id}`%>  method="post">
                            <button class="p-1" type="submit">Eliminar comentario</button>
                        </form>
                    <% } %>
                </div>
            </div>
        <% } %>
    <% } %>

</section>

<%- include ('../partials/footer.ejs') %>
