<%- include ('../partials/head.ejs') %>

<form class="d-flex" action="/search/" method="post">
    <select name="cats" id="cats">
    </select>
    <input class="form-control me-2" type="text" placeholder="Search for a comic" aria-label="Search" name="comicSearch" id="comicSearch">
    <button class="btn btn-outline-success" type="submit">Buscar</button>
</form>
<% if (comics.length > 0) { %>
    <% for( let i = 0; i < comics.length; i++ ) { %>
        <div class="comic_block_wrapper bg-secondary p-2">
            <div class="bg-dark p-2">
                <a href=<%= `/read/${comics[i].id}` %>>
                    <img src="<%= comics[i].comicCoverPath %>" width="100px" height="100px">
                    <h3>title: <%= comics[i].comicName %></h3>
                    <h3>Author: <%= comics[i].comicWriter %></h3>
                    <h3>Status: <%= comics[i].comicStatus %></h3>
                </a>
            </div>
        </div>
    <% } %>
<% } %>

<% if (comics.length <= 0) { %>
    <h1>Wow! No hay comics disponibles!</h1>
<% } %>

<script>
    catAmount = 0;
    let cats = document.getElementById('cats')

    let catGroup = ["---","acción","comedia","misterio","aventura","drama","terror","fantasia","romance","vida-escolar","vida-cotidiana","ciencia-ficcion","deportes","maduro","crimen","psicologico","artes-marciales"]

    cats.addEventListener('load',createCats())

    function createCats(){
        for(let i = 0; i < catGroup.length; i++){
            let catOption = document.createElement('option');
            catOption.setAttribute('value',catGroup[i]);
            catOption.innerText = catGroup[i];
            if(i === 0) catOption.innerText = "Categorias";
            cats.appendChild(catOption);
        }
    }

</script>

<%- include ('../partials/footer.ejs') %>