<%- include ('../partials/head.ejs') %>

<%- include ('../partials/message.ejs') %>
<h1>Buscar Comic</h1>

<% if (user) { %>
    <h1>Hello <%= user.name %> </h1>
    <%- include ('../partials/navLogged.ejs') %>
<% } else { %>
    <%- include ('../partials/navGuest.ejs') %>
<% } %>
<% if (comics.length > 0) { %>
    <% for( let i = 0; i < comics.length; i++ ) { %>
        <div class="comic_block_wrapper bg-secondary p-2">
            <div class="bg-dark p-2">
                <a href=<%= `/read/${comics[i].id}` %>>
                    <img src="<%= comics[i].comicCoverPath %>" width="100px" height="100px">
                    <h3>title: <%= comics[i].comicName %></h3>
                    <h3>Author: <%= comics[i].comicWriter %></h3>
                    <h3>Status: <%= comics[i].comicStatus %></h3>
                </a>
            </div>
        </div>
    <% } %>
<% } %>

<% if (comics.length <= 0) { %>
    <h1>Wow! No hay comics disponibles!</h1>
<% } %>

<%- include ('../partials/footer.ejs') %>